.multi-line-graph path { 
/*    stroke: steelblue;*/
    stroke-width: 1;
    fill: none;
}
.multi-line-graph g.tick text {
    font-size: 7px;
}
.multi-line-graph .axis path,
.multi-line-graph .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.multi-line-graph text{ font: 10px ubuntu; }
.tooltip{
	position: absolute;
	text-align: center;
	padding: 4px 8px;
	font: 12px sans-serif;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	pointer-events: none;
	z-index: 100;
}